<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu portifólio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Gustavo Dias Franco</h1>
        <img src="{{url_for ('static', filename = '/assets/Foto_perfil.jpg')}}" alt="Minha foto de perfil" height="150" width="150">
        <p>Olá eu me chamo Gustavo Dias, tenho 20 anos e atualmente estou cursando o 4° semestre em Ciência da computação na UniMax, e este é meu portifólio.</p>
    </header>
    <main>
        <h2>Meus projetos</h2>
        <article>
            <div class = 'port'>
                <h3>Projeto e-commerce</h3>
                <img class="projeto" src="{{url_for ('static', filename = '/assets/Imagem_proj_ecommerce.png')}}" alt="Imagem de exemplo do projeto ecommerce" width="220" height="120">
                <p>O projeto se baseia em uma loja virtual de hardware, criado inicialmente como um projeto para faculdade, porem aproveitei para aprofundar os estudos sobre as tecnologias. Atualmente o projeto ainda esta no inicio</p>
            </div>
        </article>
    </main>
</body>
</html>